/* color palette from <https://github.com/vuejs/theme> */
:root {
	--accent-color: #fff;

	--vt-c-white: #ffffff;
	--vt-c-white-soft: #f8f8f8;
	--vt-c-white-mute: #f2f2f2;

	--vt-c-black: #181818;
	--vt-c-black-soft: #222222;
	--vt-c-black-mute: #282828;

	--vt-c-indigo: #2c3e50;

	--vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
	--vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
	--vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
	--vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

	--vt-c-text-light-1: var(--vt-c-indigo);
	--vt-c-text-light-2: rgba(60, 60, 60, 0.66);
	--vt-c-text-dark-1: var(--vt-c-white);
	--vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */

:root {
	--color-background: var(--vt-c-black);
	--color-background-soft: var(--vt-c-black-soft);
	--color-background-mute: var(--vt-c-black-mute);

	--color-border: var(--vt-c-divider-dark-2);
	--color-border-hover: var(--vt-c-divider-dark-1);

	--color-heading: var(--vt-c-text-dark-1);
	--color-text: var(--vt-c-text-dark-1);

	--section-gap: 160px;
}

/*@media (prefers-color-scheme: dark) {
  :root {
	--color-background: var(--vt-c-white);
	--color-background-soft: var(--vt-c-white-soft);
	--color-background-mute: var(--vt-c-white-mute);
  
	--color-border: var(--vt-c-divider-light-2);
	--color-border-hover: var(--vt-c-divider-light-1);
  
	--color-heading: var(--vt-c-text-light-1);
	--color-text: var(--vt-c-text-light-1);
  
  }
}*/

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	position: relative;
	font-weight: normal;
}

body {
	min-height: 100vh;
	color: var(--color-text);
	background: var(--color-background);
	transition: color 0.5s, background-color 0.5s;
	line-height: 1.6;
	font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	position: relative;
	max-height: 100%;
}

button {
	background: var(--accent-color);
	border: none;
	margin: 5px;
	padding: 5px 10px;
	border-radius: 300px;
	color: #2a2a2a;
	font-size: 15px;
	cursor: pointer;
}

input,
select {
	background: #333;
	border-radius: 15px;
	margin: 5px;
	border: none;
	padding: 5px;
	font-size: 15px;
	color: #fff;
	padding: 5px 10px;
	transition: all 100ms ease-in-out;
	width: 100%;
}

header {
	padding: 20px;
	z-index: 10000;
	display: flex;
	flex-direction: row;
	min-height: 80px;
	background: #ffffff09;
	flex-wrap: wrap;
	padding-bottom: 0px;
}

#app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.shadow {
    box-shadow: 0 0 10px 0 #0004;
}